<form method="post">
  <input type="text" name="Person" placeholder="Please enter your name...">
  <input type="text" name="Comment" placeholder="Please enter your comment...">
  <button type="submit">Add</button>
</form>

<table>
  {{#each guestbook}}
  <tr>
    <th>Person</th>
    <th>Comment</th> 
  </tr>
  <tr>
    <td data-id="{{id}}">{{#each guestbook}}
      <li>{{name}}</li>
    {{/each}}</td>
    <td>{{#each guestbook}}
      <li>{{comment}}</li>
    {{/each}}</td> 
  </tr>
</table>

