<form method="post">
  <input type="text" name="Person" placeholder="Please enter your name...">
  <input type="text" name="Comment" placeholder="Please enter your comment...">
  <button type="submit">Add</button>
</form>

<table>
  <tr>
    <th>Person</th>
    <th>Comment</th> 
  </tr>
  <tr>
    <td>Person One</td>
    <td>Comment One</td> 
  </tr>
  <tr>
    <td>Person Two</td>
    <td>Comment Two</td> 
  </tr>
</table>

